# Ignore everything by default
*

# But track these:
!.gitignore
!README.md
!scripts/
!scripts/*
!.gitkeep

# Allow .gitkeep in any subdirectory
!*/
!**/.gitkeep

# Always ignore
.DS_Store
venv/
__pycache__/
*.pyc
